@charset "UTF-8";
@media screen and (min-width: 600px) {
    #sec1, #sec2{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    #info{
        align-self: center;
    }
    #info, #info2{
        max-width: 500px;
    }
}
@media screen and (min-width: 992px) {
    body{
        width: 100vw;
        height: 100vh;
    }
    main{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    #sec1{
        align-items: center;
    }
    #info{
        max-width: 500px;
    }
    #sec1, #sec2{
        width: 50%;
        padding: 100px;
    }
    #sec2{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    #sec2 img{
        max-width: 700px;
    }
    #info2{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        max-width: 700px;
    }
}