@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
#sec1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 75vh;
    padding: 70px 25px;
}
#info{
    width: 100%;
}
#info h1{
    font-size: 35px;
}
#info label{
    display: none;
}
#info #labelcheck{
    display: block;
}
input[type="submit"]{
    background-color: #0056fb;
    border: none;
    color: white;
}
input[type="submit"]:hover{
    background-color: #0058fb8e;
    cursor: pointer;
    transition: background-color .2s;
}
form{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
input{
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
}
a{
    text-decoration: none;
    color: #0056fb;
}
a:hover{
    color: #0058fb8e;
    transition: color .2s;
}
#sec2{
    background-color: #0056fb;
    padding: 70px 25px;
}
#info2{
    color: #ffffff;
}
#info2 h1{
    font-size: 45px;
    word-spacing: 7px;
    margin-bottom: 10px;
}
#info2 img{
    width: 100%;
    margin-bottom: 40px;
}